body {
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 300;
}

.nav-link {
	padding: 1rem .5rem;
}

.unit-1 {
  position: relative;
  /*! width: 100%; */
  overflow: hidden;
  display: block;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2); 
}
  
.unit-1:after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.unit-1 img {
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.unit-1 img, .unit-1 .unit-1-text {
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.unit-1 .unit-1-text {
	z-index: 2;
	position: absolute;
	bottom: 10px;
	color: #fff;
	display: block;
	width: 100%;
}

.unit-1 .unit-1-text .unit-1-heading {
	font-size: 1.2rem;
	position: relative;
}

.unit-1:hover .unit-1-text {
	bottom: 30px;
}

.unit-1:hover img
{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.overlap
{
    margin-top: -150px;
    position: relative;
    z-index: 9;
}

.footer {
	position: relative;
	width: 100%;
	top: 5rem;
	padding: 1rem;
	background-color: #337A9F;
	background-image: url('../images/logog.png');
	background-size: cover;
	color: #000;
}

.footer::before {
	position: absolute;
	content: "";
	opacity: .75;
	color: #fff;
	background-color: white;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#caja h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    color: black;
    line-height: 1.5;
    text-shadow: 0 0 .5rem #333;
}

.caja {
	background-color: #337A9F;
	background-size: cover;
	position: relative;
	width: 100%;
}

/*
.caja::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
	opacity: .55;
	color: #fff;
	background-color: white;
}
*/

.caja-thumb
{
	height: 35vh;
	background-position: 50%;
	background-size: cover;
/* 	object-fit: cover; */
}

.caja-simple {
	transition: all .7s;
}

.caja-simple:hover {
	transform: scale(1.025);
	box-shadow: 4px 1px 1rem rgba(5, 5, 5, 0.6); 
}

header {
	background-color: #337A9F;
	transition: all .5s;
	color: #000;
}

header a,
header.sticky-top a
{
	color: #fff;
}

header.sticky-top {
	background-color: #00486c;
	opacity: .95;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	transition: all .75s;
}

header a:hover,
header.sticky-top a:hover {
	color: #fff;
	text-shadow: 0 0 .5rem #FFF;
}

header a.dropdown-item,
header a.dropdown-item:hover,
header.sticky-top a.dropdown-item, 
header.sticky-top a.dropdown-item:hover
{
	color: #333;
	text-shadow: 0 0 .5rem #a7a9aa;
}

.dropdown-menu,
.dropdown-divider
{
	border-top: 2px solid #ef6c57;
}

.dropdown-menu {
	border-radius: 0;
	padding: 0;
	transition: all 1s;
}

.dropdown-item {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.dropdown-item:hover {
	background-color: #c1e0ff;
	border-top: 1px solid #a0a0dd;
	border-bottom: 1px solid #a0a0dd;
}

.precio
{
	font-size: 1.5rem;
	color: red;
}

.terminoscondiciones h1 { 
	font-size: 1.5rem;
	font-weight: bold;	
}

.terminoscondiciones h2 {
	font-size: 1.25rem;
	font-weight: bold;	
}

.terminoscondiciones h3 { 
	font-size: 1.15rem;
	font-style: italic;	
}

.terminoscondiciones h4 { 
	font-size: 1.05rem;
	font-style: italic;	
}





